@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Shared styles */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bg-color{
  background-color:#1A0B2E ;
}
.primary-color{
  color: #FFFFFF;
}
.secondary-color{
  color: #00FF88;
}
/* Main styles */